@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #2558d0 0%, #572ea3 100%);
}
p {
    color: rgb(105, 220, 181);
}
.nav-link {
    color: rgb(122, 255, 211);
}
.navbar-nav .nav-link.active {
    color: rgb(94, 134, 120);
}
.navbar-brand img {
    max-width: 40px;
}
.navbar-toggler {
    background-color: rgb(141, 137, 196);
}
.sidebar {
    color: rgb(105, 220, 181);
    background: linear-gradient(270deg, #2558d0 0%, #572ea3 100%);

}
.card {
    background: linear-gradient(270deg, #2558d0 0%, #572ea3 100%);
    color: rgb(105, 220, 181);
}
.card a {
    text-decoration: none;
    color: rgb(105, 220, 181);
}
.slide-txt,
.footer-text {
    color: rgb(105, 220, 181);
    margin: auto auto;
}
footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #2558d0 0%, #572ea3 100%);

}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim {
    animation: call 2s ease 0s infinite normal none;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media (max-width: 755px){
    .carousel-indicators {
        display: none;
    }
}